<html !DOCTYPE>
  <head>
    <style>
      body {
        font-family: sans-serif;
      }
      button {
        padding: 20px;
        font-size: 36px;
        border: none;
        width: 100%; 
        cursor: pointer;
        display: block;
        margin-top: 10px;
      }
      button:hover {
        background-color: #666;
      }
    </style>
  </head>
  <body>
  <main>
  <h1>Welcome</h1>
  <button id='play' type=button>Start</button>
  <button id='toggle_play' type=button>Play/Pause</button>
  <button id='forward' type=button>Forward</button>
  <button id='rewind' type=button>Rewind</button>
  <button id='quit' type=button>Quit</button>
  </main>
  <script>
    document.querySelector('#play').onclick = function() { get('/play/78'); };
    document.querySelector('#toggle_play').onclick = function() { get('/cmd/play'); };
    document.querySelector('#forward').onclick = function() { get('/cmd/forward'); };
    document.querySelector('#rewind').onclick = function() { get('/cmd/rewind'); };
    document.querySelector('#quit').onclick = function() { get('/cmd/quit'); };
    function get(url, callback) {
      var xhr = new XMLHttpRequest();
      xhr.open('GET', url);
      xhr.onreadystatechange = function() {
        if (xhr.readyState === 4 && xhr.status === 200) {
          console.log(xhr);
        }
      }
      xhr.send();
    }
  </script>
  </body>
</html>
